<app-navbar></app-navbar>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Reservations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Homepage Content -->
    <div class="jumbotron">
        <div class="container">
            <h1> Come to Pereira. </h1>
            <a href="/login" class="btn btn-outline-dark">Book Now</a>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="fas fa-bed"></i>
                    <h3>Direct Booking</h3>
                    <p>We are not intermediaries, we won't charge additional fees or markups.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="fas fa-utensils"></i>
                    <h3>Customer Support </h3>
                    <p>Get assistance anytime for queries or issues related to bookings.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="fas fa-swimming-pool"></i>
                    <h3>Real-Time Availability</h3>
                    <p>We check in real time availability of rooms, accommodations and services </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
</body>
