<app-navbar></app-navbar>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form (ngSubmit)="onSubmit()">
              <div class="text-center">
                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Save Reservation</h5>
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="client_id" name="client_id" [(ngModel)]="clientName"  readonly>
                <label class="form-label" for="client_id">Responsible</label>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="hotel_id" name="hotel_id" [(ngModel)]="hotelName"  readonly>
                  <label class="form-label" for="hotel_id">Hotel</label>
              </div>
              <div class="form-group">
                  <input type="date" class="form-control form-control-lg" id="start_Date" name="start_date" [(ngModel)]="reservation.start_date">
                  <label class="form-label" for="start_date">Day of Arrival</label>
              </div>
              <div class="form-group">
                  <input type="date" class="form-control form-control-lg" id="end_Date" name="end_date" [(ngModel)]="reservation.end_date">
                  <label class="form-label" for="end_date">Day of Departure</label>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="reserved_rooms" name="reserved_rooms" [(ngModel)]="reservation.reserved_rooms">
                  <label class="form-label" for="reserved_rooms">Number of Rooms</label>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="no_guests" name="no_guests" [(ngModel)]="reservation.no_guests">
                  <label class="form-label" for="no_guests">Number of Guests</label>
              </div>
              <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-outline-dark btn-lg px-5">Book</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
