<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div *ngIf="isLogged;else other_content">
    <div *ngIf="isRoot;else not_Root">
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
            <div class="container">
                <a class="navbar-brand" href="#">Booking Pereira</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/hotels">List Hotels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add-hotel"> Add Hotel </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "log_out()" href="#">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ng-template #not_Root>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">Booking Pereira</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/find-hotel">Find a Hotel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/show-reservations">My bookings </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click) = "log_out()" href="#">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</ng-template>
</div>

<ng-template #other_content>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">Booking Pereira</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</ng-template>
