body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
}

.btn-outline-dark {
    color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-lg {
    padding: 10px 30px;
    font-size: 1.2rem;
}

.px-5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}